* {
    box-sizing: border-box;
}
.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

ul.meny-list li label {
  display: block;
  padding: 0.3rem 0.9375rem;
  color: #999;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
ul.meny-list {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.meny-list li a {
  display: block;
  padding: .66667rem;
  color: rgba(255,255,255,.7);
  border-bottom: 1px solid #262626;
  transition: background 300ms ease;

}

.off-canvas-wrap{
    height: 100%;
}

#avgangliste {
    padding-right: 4px;
    height: 100%;
}

.view-container {
    height: 100%;
}

@media (max-width: 700px) {
  #home-container {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 700px) {
  .search-rute {
    padding-top: 15%
  }
}
.menu {
  background-color: #333;
}
.menuref-icon {
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 22px;
    padding-left: 10px;
    position: static;
}

.hover-hand {
    cursor: pointer;
}

.title.meny-meny {
  text-align: left;
  float: left;
  display: inline-block;
}
.title.meny-filter {
  display: inline-block;
  float: right;
}
.favoritter {
  background-color: rgb(34, 34, 34);
  text-align: center;

}
.full-height {
    height: 100%;
}

.filtered {
    color: lightblue;
    text-decoration: line-through;
}
.klokke {
    display: block;
}
.omtid {
    float: right;
    position: relative;
    top: -22px;
    right: 10px;
}
.delayed {
  color: darkgray;
  text-decoration-color: red;
  text-decoration: line-through;
}

#main-content {
  background-color: #fff;
}
.main-section {
    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*height: 94%;*/
  background-color: #fff;

}

.avgang {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #f5f5f5));
    padding-top: 10px;
    padding-left: 7px;
    /*padding-right: 7px;*/
    margin-right: 7px;
    padding-bottom: 3px;
    width: 100%;
    /*border-left: 1px  gray;*/
    box-shadow: 3px 2px 2px gray;
    margin-bottom: 4px;
}
