
<div snap-drawers>
  <div snap-drawer>

    <ul class="meny-list menu full-height" ng-controller="FavorittCtrl">
      <li><label>Rask Rute</label></li>
      <li class="favoritter"><a>Favoritter</a></li>
      <li ng-show="stasjon"><a ng-click="toggleFavoritt(stasjon)"><i class="fa fa-plus" ng-show="isFavoritt(stasjon)"></i><i class="fa fa-minus-circle" ng-show="!isFavoritt(stasjon)"></i> {{stasjon.Name}}</a></li>
      <li ng-repeat="stoppid in favoritter" ><a href="#/home/{{stoppid.ID}}">{{stoppid.Name}}</a></li>
    </ul>

  </div>
</div>

<div snap-content snap-options="snapOpts" id="main-content">
  <article id="home-container">
    <form data-ng-submit="searchForRute(search)" class="search-rute">
      <div class="row collapse postfix-radius">
        <div class="small-10 columns">
          <input type="text" data-ng-model="selectedStop" placeholder="Finn din stopp"
                 typeahead="rute for rute in searchForRute($viewValue)"
                 typeahead-wait-ms="400" typeahead-min-length="2"
                 required autofocus="true">
        </div>
        <div class="small-2 columns">
          <a class="button postfix" data-ng-click="searchForRute(search)">Gå!</a>
        </div>
      </div>

    </form>
    <section class="row rute-list">
      <div class="large-12 columns" ng-show="searchList">
        <h4>Ser du etter...</h4>
      </div>
        <div class="large-12 columns">
          <div class="rute" data-ng-repeat="rute in searchList">
            <div><a href="#/home/{{rute.ID}}">{{rute.Name}}</a></div>
          </div>
        </div>
    </section>
  </article>
</div>