<div class="off-canvas-wrap full-height">

  <div class="inner-wrap full-height">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon full-height" ><span></span></a>
      </section>
      <section class="middle tab-bar-section left-off-canvas-toggle hover-hand">
        <h1 class="title">Filtrer avganger</h1>
      </section>
      <section class="right-small">
        <a class="right-off-canvas-menu fi-refresh menuref-icon" ng-click="refreshRuteDetails()" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Rask Rute</label></li>
        <li><a href="#">Hjem</a></li>
        <li ng-repeat="rutenr in ruter" ><a ng-class="{filtered: !ruteFilter(rutenr)}" ng-click="toggleFilter(rutenr)">{{linjenavn(rutenr)}}</a></li>
      </ul>
    </aside>
    <section class="main-section">
        <div id="avgangliste">
          <div ng-repeat="avgang in ruteInfo | filter:ruteFilter" class="avgang">
            <div class="linje">Linje: {{avgang.PublishedLineName}} mot {{avgang.DestinationName}}</div>
            <div class="klokke">{{avgang.ExpectedDepartureTime.format('H:mm')}}</div>
            <div class="omtid"><span tid-til-neste="1000"></span></div>
          </div>
        </div>
        <div>{{stasjon}}</div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>

