.header {
  margin-top: 3rem;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 7rem;

  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  z-index: 1;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  width: 100%;
}

.navbar-item {
  width: 33%;
  align-self: center;
  text-align: center;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}
